[submodule "gem5/base"]
	path = gem5/base
	url = https://github.com/StanfordPLArchSec/protean-gem5.git
[submodule "gem5/base-se"]
	path = gem5/base-se
	url = https://github.com/StanfordPLArchSec/protean-gem5.git
[submodule "gem5/pincpu"]
	path = gem5/pincpu
	url = https://github.com/StanfordPLArchSec/protean-gem5.git
[submodule "gem5/protean"]
	path = gem5/protean
	url = https://github.com/StanfordPLArchSec/protean-gem5.git
[submodule "gem5/protean-se"]
	path = gem5/protean-se
	url = https://github.com/StanfordPLArchSec/protean-gem5.git
[submodule "gem5/spt"]
	path = gem5/spt
	url = https://github.com/StanfordPLArchSec/protean-gem5.git
[submodule "gem5/spt-se"]
	path = gem5/spt-se
	url = https://github.com/StanfordPLArchSec/protean-gem5.git
[submodule "gem5/stt"]
	path = gem5/stt
	url = https://github.com/StanfordPLArchSec/protean-gem5.git
[submodule "amulet"]
	path = amulet
	url = https://github.com/StanfordPLArchSec/protean-amulet.git
[submodule "declassiflow"]
	path = declassiflow
	url = https://github.com/oliversssf2/declassiflow.git
[submodule "llvm"]
	path = llvm
	url = https://github.com/StanfordPLArchSec/protean-llvm.git
[submodule "parsec"]
	path = parsec
	url = https://github.com/StanfordPLArchSec/protean-parsec.git
[submodule "test-suite"]
	path = test-suite
	url = https://github.com/StanfordPLArchSec/protean-llvm-test-suite.git
[submodule "bench"]
	path = bench
	url = https://github.com/StanfordPLArchSec/protean-bench.git
[submodule "simpoint"]
	path = simpoint
	url = https://github.com/StanfordPLArchSec/simpoint.git
